h1 {
  font: helvetica; 
  font-size: 50px;
  color: #BFBEC2;
  text-align: center;
    }

h2 {
  color: #CFD9E7;
  text-align: center;
    }

img {
    display: block;
    margin: auto;
    width: 50%;
    }
