<h1>List of Designer Chairs</h1>
<% @product.each do |chair| %>
  <h2>Name: <%= chair.name %></h2>
  <h2>Price: <%= chair.price %></h2>
  <img src = <%= chair.image %>>
  <h2>Description: <%= chair.description %></h2>
<% end %>

