<h1>Create a new chair</h1>

<%= form_tag "/designerchairs", method: :post do %>
  <div>
    Name: <input type="text" name="name">
  </div>
  <div>
    Price: <input type="text" name="price">
  </div>
  <div class="black-text"> 
    Supplier: <%= collection_select :supplier, :supplier_id, Supplier.all, :id, :name %>
  </div>
  <div>
    Description: <input type="text" name="description">
  </div>
  <input type="Submit" value="Create New Chair">

<% end %>